@model EvaluationApp.Models.Lectures

@{
    ViewData["Title"] = "Details";
}

@Html.Hidden("LectureId", Model.Id)

<div id="mySidenav" class="sidenav">

    <div>
        <center><a href="/Home/Index"><img src="~/images/Evaluchart3 wht-02.svg" alt="Logo" style="height:100px;width:150px" id="portallogo"></a></center>
        <br />
        <a href="/Home/Index">Home</a>
        <a href="/Lectures/Index/@Model.Id">Back</a>
        <a href="/Students/Attendance/@Model.Id">Attendance</a>
        @*<a asp-area="" asp-controller="Account" asp-action="Logout">Log-Out</a>*@
        @inject SignInManager<ApplicationUser> SignInManager
        @inject UserManager<ApplicationUser> UserManager

        @if (SignInManager.IsSignedIn(User))
        {
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                @*<ul class="nav navbar-nav navbar-right">
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                </li>
                <li>*@
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log-out</button>
                @*</li>
                </ul>*@
            </form>
        }

    </div>

</div>

<div id="main">

        <h1 id="portaltitle">Lecture: @Model.Subject</h1>
      
            <h6>The student access URL for this lecture will be: &nbsp; <span class="urlText">@ViewData["currentURL"]/Students/Portal/@Model.Id></span></h6>

    <hr />

        <div id="datachart">@Html.Partial("_GraphPartial")</div>
        @*<div id="studentquestions">@Html.Partial("_QuestionPartial")</div>*@

    </div>

@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/js/graph.js"></script>
}

