@model IEnumerable<EvaluationApp.Models.Students>

@{
    ViewData["Title"] = "Attendance";
}

<div class="grandParentContainer">
    <div class="stepParentContainer">

        <div class="attendancePage">

            <h2>Attendance Roster</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @*<ol>
                                    <li>*@
                                @Html.DisplayFor(modelItem => item.Name)
                                @*</li>
                                    </ol>*@
                            </td>
                            @*<td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>